<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상품 조회</title>
</head>
<!-- css --><!-- 레이아웃 적용 개발자:son -->
<link rel="stylesheet" type="text/css" th:href="@{css/AdminLayout2.css}">

<body>
	<header th:replace="~{AdminLayout::header}"></header>
	<nav th:replace="~{AdminLayout::nav}"></nav>
	<main>
		<div class="m1">
			<font class="title"> 상품 등록 </font>
		</div>
		<hr class="hr" noshade>
		<hr class="hr_1">
		<div class="fish_table">
			<div class="fish_table_row">
				
				<div class="fish_table_cell2">
					<p>번호</p>
				</div>
				<div class="fish_table_cell">
					<p>대분류</p>
				</div>
				<div class="fish_table_cell">
					<p>중분류</p>
				</div>
				<div class="fish_table_cell">
					<p>상품명</p>
				</div>
				<div class="fish_table_cell">
					<p>상품가격</p>
				</div>
				<div class="fish_table_cell">
					<p>원산지</p>
				</div>
				<div class="fish_table_cell">
					<p>재고</p>
				</div>
				<div class="fish_table_cell2">
					<p>수정</p>
				</div>
				<div class="fish_table_cell2">
					<p>삭제</p>
				</div>
			</div>
		</div>
		<hr class="hr_1">
		
		<div class="fish_table" th:each="p:${allList}">
		<div class="fish_table_row">
			<div class="fish_table_cell2" th:text="${p.product_no}">
			</div>
			<div class="fish_table_cell" th:text="${p.product_cate}">
			</div>
			<div class="fish_table_cell" th:text="${p.product_middle}">
			</div>
			<div class="fish_table_cell" th:text="${p.product_name}">
			</div>
			<div class="fish_table_cell" th:text="${#numbers.formatInteger(p.product_price,3,'COMMA')} +원 ">			
			</div>
			<div class="fish_table_cell" th:text="${p.product_origin}">
			</div>
			<div class="fish_table_cell" th:text="${p.product_stock} +개 ">
			</div>
			<div class="fish_table_cell2">		
				<a th:href="@{'/modify/' + ${p.product_no}}">수정</a></div>
			<div class="fish_table_cell2">
				<a th:href="@{'/delete/' + ${p.product_no}}">삭제</a></div>
			</div>
		<hr class="hr_2" align="center">
	</div>
	</main>
</body>
</html>