<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<link rel="stylesheet" type="text/css" th:href="@{css/UserLayout.css}">
<body>
	<header>
		<div class="info">
			<span><a href=#>로그인</a></span> <span><a href=#>마이페이지</a></span>
		</div>
		<div class="logo">
			<img alt="로고" src="/img/tree.png" class="tree">
		</div>
		<div class="home">
			<span>BaroFarm</span>
		</div>
	</header>
	<nav>
		<div class="homes">
			<span class="home"><a href=#>바로팜</a></span>
		</div>
		<!-- <div class="category">
			<span><a href=#>농산물</a></span> 
			<span><a href=#>수산물</a></span> 
			<span><a href=#>축산물</a></span>
		</div> -->
		<div class="category">
			<span class="dropdown"> <a href="#">농산물</a>
				<div class="dropdownContent">
					<a href="#">과일</a> <a href="#">채소</a> <a href="#">쌀/잡곡</a>
				</div>
			</span> 
			<span class="dropdown"> <a href="#">수산물</a>
				<div class="dropdownContent">
					<a href="#">생선</a> <a href="#">해물</a> <a href="#">갑각류</a>
				</div>
			</span> 
			<span class="dropdown"> <a href="#">축산물</a>
				<div class="dropdownContent">
					<a href="#">소고기</a> <a href="#">돼지고기</a> <a href="#">양고기</a>
				</div>
			</span>
		</div>
	</nav>
</body>
</html>